body { background-color: lightblue; font-family: arial; 
 }
 h1 { font-size: 30px; text-shadow: 5px 3px 4px yellow, -4px -3px 6px grey; color: red; background-color: lightblue; 
  }
  h2 { border:3px; font-size: 26px; color: green; background-color: #c0c0c0;padding:10px; border-style: solid; border-radius: 5px 5px 5px 5px;
  	box-shadow: inset 2px 2px 3px yellow, inset -2px -2px 3px yellow;
  }
  p.first { font-size: 12px; color:red; background-color: lightgreen; }
a { text-decoration: underline; color:brown; }
a:hover {color: red;}
table, th, td { border-style: solid; border-color: #cf3465; border-width: 2px;
	color: #2351ef; table-layout: fixed; text-align: center; border-collapse: separate;  }  
table {
	width: 40%; font-size: 16px; empty-cells: show; border-radius: 24px;
}
ol.lower { list-style-type: lower-alpha;

}
ul.grid { list-style-type: circle;
}
ul.image {list-style-type: lower-roman; list-style-position: outside; }
caption { caption-side: bottom; }
p.second { position: static;top: 100px; right: 50px; color: red; }
div.hidden { visibility: hidden; }
img {float: right; width: 250px; margin-right: 200px;} 
.container, .row{
	width:100%;
}
.col1, .col2, .col3 {
	float: left;
	width: 25%;
	margin: 1%;
}